body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.header{
    height: 200px;
    background-color: aqua;
}
.wrapper{
    min-height: 100%;
    min-width: 1000px;
    width: 100%;
    background-color: burlywood;
}
.container{
    z-index: 100;
    max-width: 1140px;
    width: 96%;
    margin: 0 auto;
    background-color: red
}
.subfooter{
    height: 200px;

}
.footer{
    height: 200px;
    margin-top: -200px;
    background-color: blue;
    position: relative;
    z-index: 10;
}
