body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}
.header{
    position: FIXED;
    width: 100%;
    z-index: 200;
    height: 75px;
    background-color: darkolivegreen;
    font-size: 36px;
}
.wrapper{
    min-height: 100%;
    background-color: burlywood;
}
.container{
    z-index: 100;
    max-width: 1140px;
    width: 96%;
    margin: 0 auto;
    background-color: red
}
.subfooter{
    height: 75px;

}
.footer{
    height: 75px;
    margin-top: -75px;
    background-color: blue;
    position: relative;
    z-index: 10;
}
.right{
float: right;
background-color: black;
}
.left{
float: left;
background-color: black;
}
.content{
    position: relative;
    overflow: hidden;
}
.clear{
    height: 1px;
    clear: both;
}
.catalog{
    position: relative;
    overflow: hidden;
}
.catalog .row{
    position: relative;
    overflow: hidden;
    margin-right: -36px;
}
.catalog .row .itemcont{
    box-sizing: border-box;
    padding-right: 36px;
    margin-bottom: 36px;
    width: 25%;
    float: left;
}
.catalog .row .itemcont .item{
}